<!DOCTYPE html>
<html lang="en">
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../../../node_modules/materialize-css/dist/css/materialize.min.css"/>

  <title>Shopping List Desktop</title>
</head>
<body>
  <div class="container">
    <h1 class="center">Shopping List</h1>
    <table>
      <thead>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
      </thead>

      <tbody id="todo-list"></tbody>
    </table>
  </div>

  <script type="text/javascript" src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script src="../actions/main.js"></script>
</body>
</html>